* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: auto;
    min-height: 100vh;
    background: #674baf;
    overflow-x: hidden;
}

#container {
    max-width: 100vw;
    width: 100vw;
    height: 12vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    background: linear-gradient(180deg, #7a0a7a 0%, #674baf 100%);
}

.menu {
    cursor: pointer;
    display: none;
}

.menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list .link {
    color: #fff;
    text-decoration: none;
}

.link:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #7a0a7a;
    border: 1px;
    border-radius: 40px;
    padding: .5rem 4rem;
}

#logo {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#left-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
    width: 70%;
}

#left-block #link {
    text-decoration: none;
    color: #fff;
    border: 1px;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    margin: 0 1rem;
}

#left-block #link:hover {
    background: #7a0a7a;
    color: #674baf;
}

#right-block {
    width: 30%;
}

#contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.right-content {
    cursor: pointer;
}

.right-content a {
    border: 1px;
    color: #fff;
    border-radius: 50px;
    padding: 22px 22px 18px 22px;
}

#last-child:last-child {
    padding: 22px 23px 18px 23px;
}

.right-content a:hover {
    background: rgba(50, 50, 93, 0.25);
    color: #7a0a7a;
    height: 25px;
    width: 25px;
}


#section {
    max-width: 100vw;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url("/image/Colmeia\ Tech.PNG");
    background-repeat: repeat;
    background-size: 50%;
    box-sizing: border-box;
}

#navbar {
    border: 1px;
    margin: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: #674baf;
    width: 80vw;
    box-sizing: border-box;
}

#about-content {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    box-sizing: border-box;
}

#about-content h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

.center-image{
    width: 100%;
    padding: 1rem 5rem;
}

#navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    border-bottom: 1px solid gray;
    border: 1px transparent;
    border-radius: 40px 0 40px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#navbar-left h2:hover{
    color:rgba(122, 10, 122, 1);
}

.image {
    width: 50%;
    padding: 0 2rem;
    text-align: center;
}

.image img {
    width: 200px;
}

#list-style {
    width: 50%;
    padding: 1rem 2rem;
}

#list-style ul {
    list-style: none;
}

#list-style li {
    padding: .5rem 0;
    color: #fff;
}

h2 {
    color: #fff;
    padding: 1rem 0;
}



@media (max-width: 1440px) {
    .nav-list {
        position: absolute;
        top: 12vh;
        left: 0;
        width: 20vw;
        height: 88vh;
        background: linear-gradient(0deg, rgba(122, 10, 122, 1) 0%, rgba(103, 75, 175, 1) 100%);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .menu {
        display: block;
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}